
.textbox { 
    background:white 
    repeat-x; 
    border: 1px solid #999; 
    outline:0; 
    height:110px; 
    width: 204px; 
    float: right;
  } 
.pad_top{padding-top: 200px;}
.glyf_play
{
  font-size: 40px;
  color: white;
}

  
::-moz-focus-inner {
  border:0;
}

* {
	margin: 0;
	padding: 0;
  border: 0;
}

button {
  font: inherit;
  color: inherit;
  width: 222px;
  text-transform: uppercase;
  padding: 33px 80px;
	margin: 0px 30px;
  background: #823aa0;
  overflow: hidden;
  position: relative;
  float: left;
}
button:before {
  	left: 48%;
}
button:active {
	background: #9053a9;
  color: #823aa0;
	top: 2px;
}
button > span {
	display: inline-block;
	transition: all 0.5s;
}
.icon-forward:before {
  content: "";
  position: absolute;
}
.btn-1:before {
	left: -100%;
  transition: all 0.5s;
}
.btn-1:hover:before {
	left: 48%;
}
.btn-1:hover > span {
	transform: translateX(400%);
}
.numberCircle {
    border-radius: 70%;
    width: 111px;
    height: 111px;
    padding: 36px;
    
    background: red;
    border: 2px solid #666;
    color: black;
    text-align: center;
    font: 32px Arial, sans-serif;
}