
.textbox { 
    background:white 
    repeat-x; 
    border: 1px solid #999; 
    outline:0; 
    height:110px; 
    width: 204px; 
    float: right;
    text-align: center;
    font-size: 40px;
  } 
.pad_top{padding-top: 200px;}
.glyf_play
{
  font-size: 40px;
  color: white;
}
.page_bck{
  background: lightgray;
      background: red; /* For browsers that do not support gradients */
      background: -webkit-linear-gradient(left,#7be7d7 , #7be7d7,#7be7d7,#7ce6d8,#7edada,#7fcfdb,#7fcbdc,#80c4dd,#83bbdf,#85aee2); /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(right, #7be7d7 , #7be7d7,#7be7d7,#7ce6d8,#7edada,#7fcfdb,#7fcbdc,#80c4dd,#83bbdf,#85aee2); /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(right, #7be7d7 , #7be7d7,#7be7d7,#7ce6d8,#7edada,#7fcfdb,#7fcbdc,#80c4dd,#83bbdf,#85aee2); /* For Firefox 3.6 to 15 */
      background: linear-gradient(to right, #7be7d7 , #7be7d7,#7be7d7,#7ce6d8,#7edada,#7fcfdb,#7fcbdc,#80c4dd,#83bbdf,#85aee2); /* Standard syntax */
}

}
.fnt_famly{font-family: sans-serif;} 
::-moz-focus-inner {
  border:0;
}
.txt_stl1{
  font-size: 37px;
  text-align: center;
}
.txt_stl2{
  font-size: 25px;
  text-align: center;
  padding: 25px;
}
.pad0{padding: 0;}
.padright0{padding-right: 0;}
.alert_msg{
    color: red;
    font-size: 16px;
    text-align: center;
    padding: 20px
}
.head_bar{
      text-align: center;
    font-size: 40px;
    font-weight: bold;
    font-family: serif;
    padding: 95px;
}
.blck_fnt{color: black;}
.txt_algn_ctre{text-align: center;}
* {
	margin: 0;
	padding: 0;
  border: 0;
}

button {
  width: 210px;
  text-transform: uppercase;
  padding: 33px 80px;
  background:darkgray;
  overflow: hidden;
  position: relative;
  float: left;
}
button:hover{
  background: #000000;
}
button:before {
  	left: 48%;
}
button:active {
	background: #000000;
  color: #823aa0;
	top: 2px;
}
button > span {
	display: inline-block;
	transition: all 0.5s;
}
.icon-forward:before {
  content: "";
  position: absolute;
}
.btn-1:before {
	left: -100%;
  transition: all 0.5s;
}
.btn-1:hover:before {
	left: 48%;
}
.btn-1:hover > span {
	transform: translateX(400%);
}
@media(max-width: 768px){
  .head_bar{
    font-size: 57px;
    padding: 30px;
  }
}
